.price {
font: 19px / 30px Arial, Helvetica, sans-serif bold;
color: #304901;
font-weight: bold;
padding-left: 0;
float: right;
background-image: url(../../i/price.png);
width: 165px;
height: 114px;
line-height: 127px;
text-align: center;
}


