<? echo $imgrow; ?>

<table align="center" class="head" width="80%" border="1" cellspacing="0" cellpadding="2">
 <tr>
  <th align="center" colspan="4" class="list">останні сім днів</th>
 </tr>
 <tr>
  <th align="center" class="list" width=20%>дата</th>
  <th align="center" class="list" width=20%>показів</th>
  <th align="center" class="list" width=20%>кліків</th>
  <th align="center" class="list" width="40%">&nbsp;</th>
 </tr>
 <? echo $weekstats; ?>
</table>

<table align="center" class="head" width="80%" border="1" cellspacing="0" cellpadding="2">
  <? echo $txtrow; ?>
  <tr> 
    <td class="list">&nbsp;</td>
    <td align="center" class="list" colspan="3">показів</td>
    <td align="center" class="list" colspan="3">кліків</td>
  </tr>
  <tr> 
    <td align="center" class="list" width="22%">Банер</td>
    <td align="center" class="list" width="13%">рік</td>
    <td align="center" class="list" width="13%">місяць</td>
    <td align="center" class="list" width="13%">день</td>
    <td align="center" class="list" width="13%">рік</td>
    <td align="center" class="list" width="13%">місяць</td>
    <td align="center" class="list" width="13%">день</td>
  </tr>
  <? echo $tabstats; ?>
</table> 

