# Запуск mod_rewrite
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Внутренние преобразования статических URL в динамические

#RewriteRule ^pages/([^/]+)/([0-9]*)/? /index.php?page=$1&id=$2 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]
#RewriteRule ^(.*)$ /$1/ [R=301,L]

RewriteRule ^([^/]{4,})/([\d]*)/?$ /index.php?page=$1&id=$2 [L,QSA]