<br>
<table align="center" class="head" width="500" border="1" cellspacing="0" cellpadding="2">
  <tr> 
    <td align="center" class="list" colspan="3" height="84" valign="middle">
	 <? echo $adimg; ?>
	</td>
  </tr>
  <tr> 
    <td align="center" class="list" width="33%"><a href="admin.php?id=<? echo $id; ?>&action=item">modify</a></td>
    <td align="center" class="list" width="34%"><a href="admin.php?id=<? echo $id; ?>&action=delete">delete</a> </td>
    <td align="center" class="list" width="33%"><a href="admin.php?adid=<? echo $id; ?>&action=stats">stats</a></td>
  </tr>
</table>
 