<? echo $imgrow; ?>

<table align="center" class="head" width="80%" border="1" cellspacing="0" cellpadding="2">
 <tr>
  <th align="center" colspan="4" class="list">last seven days</th>
 </tr>
 <tr>
  <th align="center" class="list" width=20%>date</th>
  <th align="center" class="list" width=20%>displays</th>
  <th align="center" class="list" width=20%>clicks</th>
  <th align="center" class="list" width="40%">&nbsp;</th>
 </tr>
 <? echo $weekstats; ?>
</table>

<table align="center" class="head" width="80%" border="1" cellspacing="0" cellpadding="2">
  <? echo $txtrow; ?>
  <tr> 
    <td class="list">&nbsp;</td>
    <td align="center" class="list" colspan="3">displays</td>
    <td align="center" class="list" colspan="3">clicks</td>
  </tr>
  <tr> 
    <td align="center" class="list" width="10%">id</td>
    <td align="center" class="list" width="15%">year</td>
    <td align="center" class="list" width="15%">month</td>
    <td align="center" class="list" width="15%">day</td>
    <td align="center" class="list" width="15%">year</td>
    <td align="center" class="list" width="15%">month</td>
    <td align="center" class="list" width="15%">day</td>
  </tr>
  <? echo $tabstats; ?>
</table> 

