img,.gmtbl{border:0;}
body{font:normal normal 500 12px/16px Arial;color:#696969;}


/* Logo */
#logo_img{left:24px;position:absolute;top:13px;}

/* Menu */
ul.hmenu{margin-left:-40px;}

.hmenu a{color:#0099CC;font:bold 14px Verdana,Arial,Helvetica,sans-serif;padding:8px 30px 5px 30px;text-decoration:none;}

.hmenu a:hover,.hmenu a.cur{background:url(../../i/menu_back.png) repeat-x 0px -25px;color:#006C91;}

/* banners block */
#banner_block{text-align:center;}

/* vidgets */
.vidget{border:1px solid #66CCFF;margin:5px;overflow:hidden;padding:10px;position:relative;text-align:center;}

.vidget span{
	background:url(../../i/under.png) no-repeat bottom center;
	color:#509693;
	display:block;
	font:normal normal bolder 13px Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin:-5 auto 5px auto;
	padding:5px;
	text-transform:uppercase;
}

/* погодний інформер */
.gmtdttl{background:#18b8f9;color:#033833;display:none;font-size:110%;font-weight:bold;text-align:center;}
.gmtdtext{color:#065d70;font-size:100%;font-weight:normal;text-align:center;}
.tddiv{text-align: left !important;}
div#cntdiv{display:block;position:absolute;}
div#infselectlist{
	background:#ffffff;
	border:1px solid #7c7c7c;
	cursor:pointer;
	height:100%;
	left:0;
	position:relative;
	right:0;
	top:1;
	visibility:hidden;
	width:100%;
}
div#hiddentl{left:0;position:relative;right:0;top:1;visibility:hidden;}

/* news blocks */
.news_item_wrapper{}
.news_item_inner{border:1px solid #CEE3FF;margin-bottom:5px;min-height:105px;padding:4px;}
.news_shadow_img{
	background:transparent url(/i/shadow.gif) bottom right no-repeat;
	float:left;
	left:1px;
	margin-bottom:-5px;
	padding:0 0 5px 4px;
	position:relative;
	top:1px;
}
.news_item_image{border:1px solid #DDDDDD;border-bottom-width:2px;border-right-width:2px;float:left;padding:2px;}
.news_item{color:#696969;font-family:Arial;margin-left:140px;}
.news_item h3,#news_title{display:block;font:normal normal 700 12px/16px Arial;text-align:left;}
#news_title{
	background:#E7F1FF;
	border:1px solid #CEE3FF;
	color:#509693;
	margin-bottom:5px;
	margin-top:5px;
	padding:5px;
	text-align:center;
	text-transform:uppercase;
}
.news_item p{font:normal normal 500 12px/16px Arial;padding:0 10px;text-align:justify;text-indent:2em;}
.news_intro{color:#888888;font-style: italic !important;padding-left: 150px !important;padding-right:50px;}
.news_date{background:#E7F1FF;color:#66CCCC;font-size:11px;font-weight:normal;margin-right:1em;padding:1px 3px;}
a{color:#009999;text-decoration:none;}
a:hover{color:#330099;}

/* notice */
#notices_inner{
    border:1px solid #CEE3FF;margin-bottom:5px;min-height:105px;padding:4px;
}

/* forms */
select {
	width: 90%;
	color:#696969;
}
#find_panel p{
	margin-top:5px;
	padding:0;
}
.maintabs{
	text-align: justify;
	padding:10px;
	text-indent: 2em;
}
.maintabs img{
	margin: 5px 15px 2px 2px;
	border:1px solid #DDDDDD;border-bottom-width:2px;border-right-width:2px;
}

/* otdel list page */
#otdel_tlb {
	padding: 10px;
	margin-top: 10px;
}

.notice_img{
	float: left;
}
.notice_delimiter{
	border-bottom: 1px dotted #00CCFF;
	height: 5px;
	margin:0 5px;
	margin-bottom: 5px;
}
.notice_item{
	margin: 0 10px;
	overflow: hidden;
	padding: 3px;
}
.notice_item:hover{
	background-color: #CDD8D8;
}
.notice_item img{
	margin-right: 5px;
	padding: 2px;
	border: 1px solid silver;
	max-height: 75px;
}
.notice_item_big img{
	margin-right: 5px;
	padding: 2px;
	border: 1px solid silver;
	max-height: 300px;
}