img{border:0;}

/* Logo */
#logo_img {left: 24px; position: absolute; top: 13px;}

/* Menu */
ul.hmenu{margin-left: -40px;}

.hmenu a{color:#0099CC;font:bold 14px Verdana,Arial,Helvetica,sans-serif;padding:8px 30px 5px 30px;text-decoration:none;}
.hmenu a:hover,.hmenu a.cur{background:url(../i/menu_back.png) repeat-x 0px -25px;color:#006C91;}
/* banners block */
#banner_block{text-align: center;}
/* text */
p{margin-bottom:10px;}

p:first-letter{
	float:left;
	font-size:2.5em;
	font-weight:bolder;
	margin-bottom:-.25em;
	padding-right:2px;
	text-transform:uppercase;
    color:#333333;
}
/* vidgets */
.vidget {border:1px solid #66CCFF; text-align: center; padding:10px;position: relative;margin: 5px;overflow: hidden;}
.vidget span {
    display:block;
    background-image: url(../i/under.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin: 0 auto 5px auto; 
    padding:5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    text-transform: uppercase;
    color: #509693;
}

/* погодний інформер */
.gmtbl{border: 0;}
.gmtdttl{font-size: 110%; font-weight: bold; color: #033833; text-align:center;  background-color: #18b8f9;display: none;}
.gmtdtext{font-size: 100%; font-weight: normal; color: #065d70;}text-align:center;}
.tddiv { text-align: left !important;}
div#cntdiv{ position:absolute; display:block;}
div#infselectlist{ background-color: #ffffff; border: 1px solid #7c7c7c; width:100%; height:100%; position:relative; top:1; left:0; right:0; visibility:hidden; cursor:pointer;}
div#hiddentl{ position:relative; top:1; left:0; right:0; visibility:hidden;}