/* Structure */
body{
    min-width:800px;
	font-size: 12px;
}

/*#header_block{background:url(../../i/header_bg1.png);height:126px;position:absolute;top:0;width:100%;z-index:3;min-width:800px;}*/
#header_block{
	background:url(../../i/header_bg_3.png);
	background-repeat: repeat-x;
	background-color:  #E6EFFD;
	height:126px;
	position:absolute;
	top:0;
	width:100%;
	z-index:3;
	min-width:800px;
}
#logo_wrap{background:url(../../i/header_bg_21.png);height:126px;}
#logo_block{background:url(../../i/header_bg_2.png);background-repeat: no-repeat;height:126px;}
#logo_grace{
    margin-top: -40px;
    background-repeat: repeat-x;
    background:url(../../i/header_bg_1.png);
    height: 43px;
    }

#center_panel{margin-top:156px;position:relative;}
#admin_panel{margin-top:140px;position:relative;}

#banner_block{float:left;height:100px;position:absolute;top:0px;width:60%;overflow: hidden;}

#wrapper{margin:0 20%;width:60%;}

#news_block{float:left;margin-top:100px;width:100%;}

#notices_block{float:left;width:100%;}

#left_panel{float:left;position: absolute;top:156px;left:0px;width:20%;}

#right_panel{float:right;position:absolute;top:156px;right: 0px;width:20%;}

#flags_wrapper{background-color: #D8E9EE;float: right;height: 104px;margin-right: 6px;margin-top: -119px;padding: 8px 0px 0px 8px;width: 40px;}

#menu_panel,#menu_panel_double{background:url(../../i/menu_back.png) repeat-x 0px -9px;height:30px;position:absolute;top:126px;width:100%;z-index:2;white-space:nowrap;overflow: hidden;}
#menu_panel ul,#menu_panel_double ul{width: 200%}
#menu_panel li,#menu_panel_double li{display:inline;float:left;height:30px;margin-top: 7px;background: url(../../i/menudelimiter.png) no-repeat right -2px;}
.menuitem_special a,.menuitem_special span { color:#FF0033 !important; }
.menuitem_special a:hover { color:#47B8E5 !important; }
#menu_panel_double{position:fixed;top:-25px;z-index:1;}
#menu_panel_double:hover{top:0px;}
#footer{
    position: fixed;
    clear: both;
    background-color: #ccc;
    bottom: 1px;
}

